build.ninja
CMakeCache.txt
CMakeLists.txt.user
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build/
STM32L432KCUx_FLASH.ld
